<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainDao">
<select id="membermost" resultType="member">
		SELECT * FROM member where m_id=#{m_id}

</select>
<select id="othermost"  resultType="reservation">
select j.r_menu r_menu,j.R_STORE_NAME r_store_name,s.s_category type
from (select r_menu,R_STORE_NAME
from reservation
WHERE m_id IN
<foreach collection="array" item="arr" open="(" close=")" separator=",">
 #{arr}
</foreach>
group by r_menu,R_STORE_NAME)j inner join store s
on j.R_STORE_NAME = s.S_BRAND_NAME

</select>
<select id="randomlist" resultType="product" parameterType="String">
<![CDATA[
select p.S_BRAND_NAME S_BRAND_NAME,p.P_NAME_1 P_NAME_1,P_PRICE_1 P_PRICE_1
from (select *
from (select count(p.P_NAME_1) c,p.P_NAME_1 P_NAME_1
from store s inner join product p 
on s.S_BRAND_NAME = p.S_BRAND_NAME
inner join RESERVATION r
on r.R_STORE_NAME = p.S_BRAND_NAME
where s.s_category = #{value}
group by p.P_NAME_1
order by c desc)
where rownum<=4)c inner join product p
on c.P_NAME_1=p.P_NAME_1
]]>
</select>
</mapper>