<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainDao">
<select id="membermost" resultType="member">
		SELECT * FROM member where m_id=#{m_id}

</select>
<select id="othermost"  resultType="reservation">
SELECT *
FROM reservation
WHERE m_id IN
<foreach collection="othermost" item="arr" open="(" close=")" separator=",">
 #{arr}
</foreach>
</select>
<select id="randomlist" resultType="product" parameterType="String">

select p.P_NAME_1 P_NAME_1,p.S_BRAND_NAME S_BRAND_NAME
from store s inner join product p
on s.S_BRAND_NAME = p.S_BRAND_NAME
where s.s_category = #{value}

</select>
</mapper>