<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="choice"  type="com.food.domain.ChoiceMenuVO"/>	
		<typeAlias alias="member"  type="com.food.domain.MemberVO"/>
		<typeAlias alias="qnaboard"	type="com.food.domain.QnaBoardVO"/>
		<typeAlias alias="friend" type="com.food.domain.FriendBoardVO"/>
	</typeAliases>


</configuration>

