<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="store"  type="com.food.domain.StoreListVO"/>	
		<typeAlias alias="member"  type="com.food.domain.MemberVO"/>
		<typeAlias alias="qnaboard"	type="com.food.domain.QnaBoardVO"/>
		<typeAlias alias="friend" type="com.food.domain.FriendBoardVO"/>
		<typeAlias alias="blacklist" type="com.food.domain.BlackListVO"/>
		<typeAlias alias="reservation" type="com.food.domain.ReservationVO"/>
		<typeAlias alias="product"  type="com.food.domain.ProductVO"/>	
		<typeAlias alias="board"  type="com.food.domain.BoardVO"/>	
	</typeAliases>
	


</configuration>

