@charset "utf-8";

/* .move { */
/* 	width: 70%; */
/* 	height: auto; */
/* 	display: -webkit-box; */
/* 	display: -ms-flexbox; */
/* 	display: flex; */
/* 	-webkit-box-align: center; */
/* 	-ms-flex-align: center; */
/* 	align-items: center; */
/* 	-webkit-box-pack: center; */
/* 	-ms-flex-pack: center; */
/* 	justify-content: center; */
/* } */





#navi {
   padding: 0;
   margin: 10;
   list-style: none;
   font-family: "Times New Roman", Times, serif
}

#navi li {
   float: left;
   margin-right: 10px;
   position: relative;
}

#navi a:link, a:visited {
   color: #000;
   text-decoration: none;
}

#navi a:hover, a:active {
   color: #c00;
   text-decoration: none;
}

#content {
   clear: both;
   width: 500px;
   height: 500px;;
   background: #ccc;
   color: #999;
}

#loginLabel {
   display: grid;
}

.closeBtn {
   cursor: pointer;
   float: right;
   margin-right: 5px;
   padding-top: 15px;
   color: snow;
   font-weight: bolder;
   width: 30px;
   height: 40px;
}
.loginbox {
    display: none;
    width: 350px;
    height: 170px;
    padding-left: 30px;
    padding-top: 35px;
    background: dimgray;
    color: #39b;
    font-family: '';
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    transform: translateX(-72%);
}

.loginbox form {
   margin: 0;
   padding: 0;
}

.loginbox p {
   margin-top: 0px;
   margin-bottom: 8px; .
   margin-bottom: 6px;
}

.loginbox #logid, #logpw {
   background: snow;
   color: black;
   border-width: 0px;
   width: 170px;
   padding: 3px;
   margin: 0px;
}

.loginbox label {
   width: 24px;
   display: inline-block;
   margin: 0;
   padding: 0;
   color: white;
   font-weight: bold;
}

.loginBtn {
   float: right;
   margin-top: -70px;
   margin-right: 20px;
}

.loginbox .memberInfo {
   margin-top: 13px;
   float: left;
   color: snow;
}

a.memberInfo{
   
   margin-left: 25px;
   
}




