@charset "utf-8";




#naver{
	-webkit-text-stroke-width: medium;
   margin-left: 25px;
    position: unset;
    padding-top: 10px;
    color: black;
   
}


.login-header{
	align-self : center;
}

.logout {
	border: 2px solid aliceblue;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-family: revert;

}


.login-font {
	font-size: large;
	color: white;
	font-family: initial;
	padding: 10px;
}

#btn_submit {
	background-image: url(../img/login/loginBtn.jpg);
    background-repeat: round;
    width: 65px;
    cursor: pointer;
    margin-top: px;
    padding-top: 7px;
    border: 5px ridge gold;
}

#navi {
	padding: 0;
	margin: 10;
	list-style: none;
	font-family: "Times New Roman", Times, serif
}

#navi li {
	float: left;
	margin-right: 10px;
	position: relative;
}

#navi a:link, a:visited {
	color: #000;
	text-decoration: none;
}

#navi a:hover, a:active {
	color: #c00;
	text-decoration: none;
}

#content {
	clear: both;
	width: 500px;
	height: 500px;;
	background: #ccc;
	color: #999;
}


#mypage{
	display: revert;
    margin-left:10px;
    font-size: 17px;
    color: gold;
    margin-right:10px;
} 


#loginLabel {
	display: revert;
    color: black;
    font-size: x-large;
    font-family: js2;
} 

.access{
	width: -webkit-fill-available;
}

.closeBtn {
	cursor: pointer;
	float: right;
	color: snow;
	font-weight: bolder;
	width: 30px;
    height: 20px;
    position: relative;
    top: 4px;
    font-size: 15px;
}

.loginbox {
	display: none;
    width: 350px;
    height: 180px;
    padding-left: 28px;
    padding-top: 30px;
    background: darkred;
    color: #39b;
    font-family: inherit;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    transform: translateX(-72%);
    border: 5px ridge gold;
}

.loginbox form {
	margin: 0;
	padding: 0;
}

.loginbox p {
	margin-top: 0px;
	margin-bottom: 8px; .
	margin-bottom: 6px;
}

.loginbox #logid, #logpw {
	background: snow;
	color: black;
	border-width: 0px;
	width: 54%;
	padding: 3px;
	margin: 0px;
}

.loginbox label {
	width: 24px;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
}

.loginBtn {
	float: right;
	margin-top: -70px;
	margin-right: 20px;
}

.loginbox .memberInfo {
	margin-top: 13px;
	
	color: snow;
}

a.memberInfo {
	margin-left: 25px;
}