.box{
  width: auto;
    border: slategray;
    margin: 10 10 10 10;
    font-family: js2;
    font-size: 2.5em;
    border-style: double;
    text-align: center;
    color: black;
    -webkit-text-stroke-width: medium;
        
    }   
    
 
    .jsjs{
    font-family: js5;
	font-size: 60px;
    	padding: 30px;
    text-align: center;
    /* font-family: serif; */
    text-transform: uppercase;
}

    } 
    
html {
  box-sizing: border-box;
  
}
*, *::before, *::after {
  box-sizing: inherit;
}

.grid-wrapper {
    /* Prevents odd margin behaviour */
    // overflow: hidden;
    padding: 0.1px 0;
}

.grid {
  /* forces equal cell heights */
  display: flex;
  flex-wrap: wrap;

  /* creates gaps */
  padding: 20px 0 0 20px;

    /* pulls grid cells hard against edges */
    margin: -20px;
    font-family: js9;
	font-size: 35px;
    
}

.grid-cell {
  /* sets column count */
  width: calc(100% / 1); /* 1 columns */

  /* creates gaps */
  border: 0 solid transparent;
  border-width: 0 20px 20px 0;
    
  /* prevents background bleed */
  background-clip: padding-box;

  /* forces inner to take up full grid cell height */
  display: flex;
}

@media (min-width: 400px){
    .grid-cell {
    width: calc(100% / 2); /* 2 columns */
    }
}

@media (min-width: 600px){
    .grid-cell {
    width: calc(100% / 5); /* 3 columns */
    }
}

.grid-cell-inner {
    width: 100%;
}

.cen{
 	text-align: center;
    padding-top: 23px;
    font-size: 28px;
}

/************************************\
  Prettiness only below this point
\************************************/

.grid-cell-inner {
    box-shadow: 0 0 10px 3px blue;
}

.grid-cell {
    /* So that we can see the grid cells */
 /*    box-shadow: inset 0 0 0 3px #0119; */
    height: 150px;
    margin-bottom: 100px;
    -webkit-text-stroke-width: medium;
   justify-content: center
}

.grid-wrapper {
    /* So that we can see the edges of the grid */
    // border: 3px solid green;
}

.grid-wrapper {
    max-width: 500px;
    margin: 30px auto;
}

html {
  margin: auto;
}


    } 
    
html {
  box-sizing: border-box;
  
}
*, *::before, *::after {
  box-sizing: inherit;
}

.grid-wrapper {
    /* Prevents odd margin behaviour */
    // overflow: hidden;
    padding: 0.1px 0;
}

.grid2 {
  /* forces equal cell heights */
  display: flex;
  flex-wrap: wrap;

  /* creates gaps */
  padding: 20px 0 0 20px;

    /* pulls grid cells hard against edges */
    margin: -20px;
}

.grid-cell2 {
  /* sets column count */
  width: calc(100% / 1); /* 1 columns */

  /* creates gaps */
  border: 0 solid transparent;
  border-width: 0 20px 20px 0;
    
  /* prevents background bleed */
  background-clip: padding-box;

  /* forces inner to take up full grid cell height */
  display: flex;
}

@media (min-width: 400px){
    .grid-cell2 {
    width: calc(100% / 2); /* 2 columns */
    }
}

@media (min-width: 600px){
    .grid-cell2 {
    width: calc(100% / 4); /* 3 columns */
    }
}

.cen{
 	text-align: center;
    padding-top: 23px;
    font-size: 28px;
}

.grid-cell2 {
    /* So that we can see the grid cells */
 /*    box-shadow: inset 0 0 0 3px #0119; */
    height: 150px;
    margin-bottom: 100px;
    -webkit-text-stroke-width: medium;
   justify-content: center
}
