.reservation{
	 width: 100%;
}

.modifybtn{
    display: grid;
}


#nomember{
	font-size: xx-large;
    font-family: cursive;
    font-style: oblique;
    padding: 150px;
    color: black;
    font-weight: bolder;
}

#memberpage{
	padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;
    font-family: fantasy;
    font-size: x-large;
    text-align: center;
    color: black;
}


